<!-- When a user is logged in, they shall return to this page.
I want to display user information and quiz results.
    There shall be a logout (that works!!!) and Facts buttons-->

<!DOCTYPE html>
<html lang="en" ng-app="dogfacts"> <!-- my ng dosent work. Why???-->
<head>
    <meta charset="utf-8" />
    <title>The Awesome Dog Quiz app</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> -->
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"> <!-- linket virker ikke.. -->

</head>

<body>

    <div class="container">
        <div class="page-header">
            <h1>Welcome to your profile at The Awesome Dog Quiz</h1>
            <h3>
                Go to <strong>FACTS</strong> and learn about all the dogs before you can take on
                <strong>THE AWESOME DOG QUIZ</strong>
            </h3>
        </div>

    <form class="form-inline well well-lg clearfix">

        <!--Create buttons on right side of foram.-->
        <!-- logout function -->
        <p>&nbsp;</p>
        <p><a href="#!/login" class="btn btn-primary btn-lg pull-right">Logout</a></p>

        <a href="index.html" class="btn btn-primary btn-lg pull-right">Facts</a>

    </form>

    <div class="col-sm-6" ng-repeat="user in userData | filter:Search"> <!-- i want to pull user data from the database, but I dont know how...-->
    <!-- using a bootstrap well to style -->

      <div class="well well-sm">
         <div class="row">
            <div class="col-md-6">
            </div>
                  <div class="col-md-6" id="user-box">
                    <h4>Profile</h4>
                       <!-- more angular data binding -->

                      <p><strong>Username: </strong>{{user.username}}</p> <!-- user.username is probably not right. The same goes for the quizResults...-->
                      <p><strong>Your quiz results: </strong>{{user.quizResults}}</p> <!-- Nat that important, I will only do this if I have time -->

                  </div>
       </div><!-- row -->
     </div><!-- well -->
   </div><!-- col-xs-6 -->
 </div>

   <div class="col-sm-6" ng-repeat="quiz results in userData | filter:Search"> <!-- i want to pull user data from the database, but I dont know how...-->

    <div class="well well-sm">
       <div class="row">
          <div class="col-md-6">
          </div>
                <div class="col-md-6" id="qResults">
                  <h4>Are you as good as the other users?</h4>
                    <!-- more angular data binding -->

                    <p><strong> All users quiz results: </strong>{{all.quizResults}}</p> <!-- Nat that important, I will only do this if I have time -->

                </div>
      </div><!-- row -->
    </div><!-- well -->
  </div><!-- col-xs-6 -->
 </div>

    <script src="app.js"></script>
    <script src="server/register.login.js"></script>
    <script src="server/internalAPI.js"></script>

    <!-- User service that uses an api. Maybe I dont need this...? -->

</body>
</html>
